# Dependencies
node_modules/
*/node_modules/
**/node_modules/

# Environment variables (Never commit API keys/passwords)
.env
.env.*
*.env
*/.env
*/.env.*
**/.env
**/.env.*

# Production builds
dist/
dist-ssr/
build/
*/dist/
*/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
